* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(78, 78, 122);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(255, 255, 255, 0.959);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.length-container {
  display: flex;
  gap: 4rem;
}

.break-length, .session-length {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.sub-break-length, .sub-session-length {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 2rem;
}

.fa-solid {
  font-size: 1.7rem;
  color: white;
}

.start-stop-container {
  display: flex;
  gap: 10px;
}

#start_stop, #reset {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.692);
  border-radius: 10px;
  padding-inline: 1rem;
  border: none;
  font-weight: bold;
  transition: ease-in-out 0.2s;
}

#reset:hover, #start_stop:hover {
  transform: scale(1.25);
}

button {
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.fa-solid {
  transition: all ease-in-out 0.15s;
}

.fa-solid:hover {
  transform: scale(1.2);
}

#header {
  font-size: 3rem;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding-inline: 3rem;
  padding-block: 1rem;
  gap: 1rem;
  border: 4px solid rgba(255, 255, 255, 0.505);
  font-size: 2rem;
}

#me {
  font-family: monospace;
  color: rgb(232, 232, 232);
}

#me a {
  color: rgb(25, 237, 159);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .length-container {
    flex-direction: flex;
    gap: 1.4rem;
  }

  .sub-break-length, .sub-session-length {
    font-size: 1.5rem;
  }

  .fa-solid {
    font-size: 1.5rem;
  }

  #header {
    font-size: 2.5rem;
  }

  .timer-container {
    padding-inline: 2rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .length-container {
    flex-direction: flex;
    gap: 1rem;
  }

  .sub-break-length, .sub-session-length {
    font-size: 1.2rem;
  }

  .fa-solid {
    font-size: 1.2rem;
  }

  #header {
    font-size: 2rem;
  }

  .timer-container {
    padding-inline: 1rem;
    font-size: 1.2rem;
  }

  #start_stop, #reset {
    padding-inline: 0.5rem;
  }
}